<!DOCTYPE html>
<html lang="en">
<head>
	<title>Autores de Libros</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie-edge">
	<!--BOOTSTRAP CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<!--CUSTOM CSS-->
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<!--NAVIGATION-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menuPrincipal">
		<div class="container">
		  <a class="navbar-brand" href="/">Autores</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Acerca de Nosotros</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Autores</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Comentarios</a>
		      </li>
		    </ul>
		  </div>			
		</div>
	</nav>	

	<!--HEADER-->
	<header class="main-header">
		<div class="background-overlay text-white py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-6 text-center justify-content-center align-self-center">
						<h1>This is title or phrase title or phrase</h1>
						<p>
							sunt aut facere repellat provident occaecati excepturi optio reprehenderit
							<a href="#" class="btn btn-outline-secondary btn-lg text-white no-radio">
								Read More
							</a>
						</p>						
					</div>
					<div class="col-md-6">
						<img src="img/libro.jpg" alt="" class="img-fluid d-none d-sm-block">
					</div>
				</div>
			</div>
		</div>
	</header>

	<!--NEWSLETTER-->
	<section class="bg-dark text-white py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<input type="text" class="form-control form-control-lg no-radio" placeholder="Enter your name">
				</div>
				<div class="col-md-4">
					<input type="email" class="form-control form-control-lg no-radio" placeholder="Ingrese su email">
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary btn-lg btn-block no-radio">
						Suscribete
					</button>
				</div>
			</div>
		</div>
	</section>

	<!--FEATURES-->
	<section class="py-5">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="card text-center border-primary">
						<div class="card-body">
							<h3>Feature Uno</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card text-center border-primary bg-primary">
						<div class="card-body">
							<h3>Feature Dos</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing.
							</p>
						</div>
					</div>					
				</div>
				<div class="col-md-3">
					<div class="card text-center border-primary">
						<div class="card-body">
							<h3>Feature Tres</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing.
							</p>
						</div>
					</div>					
				</div>
				<div class="col-md-3">
					<div class="card text-center border-primary bg-primary">
						<div class="card-body">
							<h3>Feature Cuatro</h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing.
							</p>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</section>	

	<section class="py-5">
		
	</section>

	<!--ACERCA DE NOSOTROS-->
	<section class="bg-light text-center">
		<div class="container">
			<div class="row">
				<div class="m-5">
					<h3>Acerca de nosotros</h3>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa incidunt maxime in sit qui vero, soluta ad! Labore impedit, itaque, non aut laboriosam totam architecto.
					</p>
				</div>
			</div>
		</div>
	</section>

	<!--ACORDEON AUTORES-->

	<!--APP VUE JS-->
	<div id="app" class="container text-center p-5">
		<div class="row">
			<div class="accordion" id="accordionExample2">
			  <div v-for="autor in Autores"  class="card">

			    <div class="card-header" id="headingOne"> 
			      <h2 class="mb-0">

			        <button class="btn btn-link collapsed" data-toggle="collapse" :data-target="'#element-' + autor.id" aria-expanded="false" :aria-controls="'element-' + autor.id">
			          {{autor.name}}
			        </button>
			      </h2>
			    </div>

			    <div :id="'element-' + autor.id" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample2">
			      <div class="card-body">
					<ul>
						<li v-for="post in Posts">
							<span v-if="post.userId===autor.id">
								{{post.title}}	
							</span>
						</li>
					</ul>			        
			      </div>
			    </div>
			  </div>
			</div>			
		</div>
	</div>

	<!--BOOTSTRAP JS-->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!--VUE JS-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.1/vue-resource.min.js"></script>
	<!--CUSTOM JS-->
	<script src=js/app.js></script>
</body>
</html>
